<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

 <appSettings>   
    <add key="leftImage" value="MyBackup.ico"/>
    <add key="rightImage" value="RoboClient.ico"/>
    <add key="topImage" value="vs.ico"/>
    <add key="bottomImage" value="notepad.ico"/>

    <add key="leftImageAction" value="D:\Sources"/>
    <add key="rightImageAction" value="C:\Program Files\Robo 3T 1.1.1\robo3t.exe"/>
    <add key="topImageAction" value="C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\Common7\IDE\devenv.exe"/>
    <add key="bottomImageAction" value="C:\Windows\notepad.exe"/>
  </appSettings>
</configuration>